<mat-card>
    <mat-card-header>
        <mat-card-title>
            Ups!! la ruta que escogiste no existe
        </mat-card-title>
        <mat-card-subtitle>   
            Pero puedes elegir navegar hacia alguna de las siguientes rutas:
        </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item routerLink="/auth/login">
                <mat-icon matListItemIcon>login</mat-icon>
                <div matListItemTitle>Ir al login</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/auth/registro">
                <mat-icon matListItemIcon>person</mat-icon>
                <div matListItemTitle>Ir al registro de usuarios</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/heroes/listado">
                <mat-icon matListItemIcon>list</mat-icon>
                <div matListItemTitle>Ir al listado de heroes</div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
